<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.apps4yourlife.kids.kidswardrobe">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SetsListActivity"></activity>
        <activity android:name=".Activities.ItemSetsActivity" />
        <activity
            android:name=".Activities.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3848852788165915~3350971743" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".Activities.AddNewItemActivity"
            android:label="@string/title_activity_new_item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AllItemsActivity"
            android:label="@string/title_activity_wardrobe"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.CategoryItemsActivity" />
        <activity
            android:name=".Activities.AddNewChildActivity"
            android:label="@string/title_activity_new_child"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PlaceReportActivity"
            android:label="@string/title_activity_place_report"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.apps4yourlife.kids.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.ChildrenListActivity"
            android:label="@string/title_activity_children_list" />
        <activity android:name=".Activities.ReportResultListActivity" />
        <activity
            android:name=".Activities.ChildReportActivity"
            android:label="@string/title_activity_children_report" />
        <activity android:name=".Activities.DonationActivity" />
        <activity android:name=".Activities.SettingsActivity" />
    </application>

</manifest>